::-webkit-scrollbar {
  display: none
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.zoom {
  transition: transform .2s;
}


.zoom:hover {
  transform: scale(1.7);
}

th, td {
  text-align: center !important;
}
@media only screen and (min-width: 766px) {
  .responsive-map {
    width: 600px !important;
    margin: auto
  }
}
