.login-form {
  max-width: 400px;
  height: 90vh;
}

.register-form {
  max-width: 350px;
  height: 90vh;
}

.noselect {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}